/* ..................popUp............. */
#popUpBack {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirmationPopUp {
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
    width: fit-content;
    padding: 30px 100px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
}

.details {
    color: white;
    font-size: 20px;
}

#confirmBtn {
    background-color: #0091EA;
    border-radius: 5px;
    width: fit-content;
    border: unset;
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 20px;
}

.confirmBtnIsloading {
    background-color: #0277BD !important;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    pointer-events: none;
} 

#confirmBtn:hover {
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    background-color: #0277BD;
}

#popUpError {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

#socialLink { 
    color: white;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#socialLink a {
    color: white;
    text-decoration: unset;
}

#socialLink a:hover {
    text-decoration: underline;
}


#rUSureBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#yesBtn {
    background-color: green;    
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

#noBtn {
    background-color: orange;    
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

#yesBtn:hover {
    background-color: darkgreen;
}
#noBtn:hover {
    background-color: darkgoldenrod;
}
/* ................................................... */

#error {
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

#title {
    color: lightgray;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 30px 0 20px 0;
}

#candidateInfoBox {
    background-color: #333333;
    width: 90%;
    margin: auto;
    padding: 15px 30px;
    border-radius: 8px;
}

.candidateInfo {
    font-size: 20px;
    padding: 5px 0;
}

#questionBox {
    background-color: #333333;
    width: 90%;
    margin: 30px auto;
    margin-bottom: 100px;
    padding: 15px 30px;
}

#questionBoxTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;;
    font-size: 150%;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    font-weight: bold;
}

#titleQuestios {
    width: 70%;
    text-align: center;
    border-right: 1px #f1f1f1 solid;
}

#titleMarks {
    width: 30%;
    text-align: center;
}

.questionRow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.questions {
    width: 70%;
    border-right: 1px #f1f1f1 solid;
}

.marks {
    width: 30%;
    text-align: center;
}

.marksDropDown {
    width: 50%;
    height: 33px;
    outline: unset;
    font-size: 20px;
    text-align: center;
}

#bottomOptions {
    text-align: center;
}

#suitable {
    margin-top: 10px;
    padding: 10px 20px;
    outline: unset;
    font-size: 20px;
    text-align: center;
}

#submitBtn {
    background-color: rgb(202, 121, 14);
    padding: 15px 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    text-decoration: unset;
    border: unset;
    border-radius: 5px;
    user-select: none;
}

#submitBtn:hover {
    background-color: rgb(116, 64, 16);
}

.submitBtnDisable {
    background-color: rgb(116, 64, 16) !important;
    pointer-events: none;
}


#msg {
    color: red;
    text-align: center;
    font-size: 17px;
}

