#wrapper {
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 50px 0;
}

#Title {
    color: lightgray;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1px;
}

input, select {
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    padding-left: 10px;
    font-size: 95%;
}

#loginBtn {
    margin-bottom: 20px;
    background-color: #0091EA;
    border-radius: 3px;
    border: 1px black solid;
    border: unset;
    padding: 10px 30px;
    font-size: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.loginBtnIsloading {
    background-color: #0277BD !important;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    pointer-events: none;
} 

#loginBtn:hover {
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    background-color: #0277BD;
}

.msg {
    color: red;
    /* margin-bottom: 10px; */
}

#forgotPass {
    margin-top: 10px;
    font-size: 17px;
    text-decoration: unset;
    color: white;
}

#forgotPass:hover {
    text-decoration: underline;
}

#SignUpBtnArea {
    margin-top: 30px;
}

#SignUpPageBtn, #sendOtpBtn {
    background-color: rgb(170, 101, 11);
    width: fit-content;
    margin: auto;
    padding: 10px 30px;
    color: white;
    text-decoration: unset;
    border-radius: 5px;
    user-select: none;
}

#SignUpPageBtn:hover, #sendOtpBtn:hover {
    background-color: rgb(116, 64, 16);
}

#sendOtpBtn {
    margin-top: 20px;
    border: unset;
    cursor: pointer;
}

/* ...............SignUp_Page................. */
#SignUpUserTitle{
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
    background-color: gainsboro;
    letter-spacing: 1px;
}

#SignUpBtn {
    background-color: rgb(32, 170, 39);
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: 1px black solid;
    border: unset;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    font-size: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.SignUpBtnIsloading {
    pointer-events: none;
    background-color: rgb(28, 136, 36) !important;
}

#SignUpBtn:hover {
    background-color: rgb(28, 136, 36);
}

/* ..............mWeb.............. */
@media screen and (max-width: 500px) {
    input, select {
        height: 30px;
        width: 250px;
        font-size: 95%;

    }
}