#wrapper {
    width: 50%;
    margin: auto;
    margin-top: 25vh;
    background-color: gray;
    text-align: center;
    padding: 50px 0;
    border: 1px black solid;
}

#LoginUserTitle {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: gainsboro;
}

#email, #password {
    margin-bottom: 15px;
    height: 22px;
    width: 250px;
    padding-left: 10px;
    font-size: 95%;
}